[project]
	description = ???????IMdemo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/段成杰 (d1248966459)
[access "refs/for/refs/*"]
	read = group user/段成杰 (d1248966459)
	push = group user/段成杰 (d1248966459)
	label-Code-Review = -2..+2 group user/段成杰 (d1248966459)
	label-Verified = -1..+1 group user/段成杰 (d1248966459)
	rebase = group user/段成杰 (d1248966459)
	removeReviewer = group user/段成杰 (d1248966459)
	submit = group user/段成杰 (d1248966459)
[access "refs/heads/*"]
	read = group user/段成杰 (d1248966459)
	create = group user/段成杰 (d1248966459)
	push = +force group user/段成杰 (d1248966459)
	pushMerge = group user/段成杰 (d1248966459)
[access "refs/tags/*"]
	push = group user/段成杰 (d1248966459)
	push = +force group user/段成杰 (d1248966459)
